---
import { Icon } from "@astrojs/starlight/components";
---

<section
  class="flex items-center justify-center text-center min-h-[50vh] py-8 px-4"
>
  <div class="max-w-3xl">
    <h1
      class="text-[24px] md:text-[32px] lg:text-[60px] font-bold text-white leading-tight mb-3"
    >
      Commercecraft
    </h1>
    <p class="text-base md:text-[20px] text-gray-300 mb-6">
      Documentación para proyectos demos tanto de frontend como backend
    </p>
    <div class="flex items-center justify-center gap-2">
      <a
        href="/development/"
        class="text-center border-2 border-white rounded-full no-underline flex items-center gap-2 px-4 py-2"
      >
        Comenzar ahora
        <Icon name="right-arrow" />
      </a>
    </div>
  </div>
</section>
